<!DOCTYPE html>
<script src="{{ url_for('static', path='jquery-3.6.0.js') }}"></script>
<html>
    <div class="container"> 
        <div class="header"> 
            <ul>
            <li><a class="home" href="/">Home</a></li>
            <li><a href="/tutorial">Tutorial</a></li>
            <li><a href="/train">Training</a></li>
            <li><a href="/predict">Prediction</a></li>
            </ul>
        </div>

        {% block body %}
        {% endblock %}
        
        <div class="footer">  
            <footer>
                <p>Author: Louise,Sam, Gawri, Rani <br>
                <a href="mailto:example@example.com">example@example.com</a></p>
            </footer>
        </div>
    </div>

    {% block script %}
    {% endblock %}

</body>
</html>


