<!DOCTYPE html>
<html>
  <div class="container"> 
<div class="header"> 
        <ul>
          <li><a class="home" href="#home">Home</a></li>
          <li><a href="#tutorial">Tutorial</a></li>
          <li><a href="#training">Training</a></li>
          <li><a href="#prediction">Prediction</a></li>
        </ul>
        
        </div>
  </div>
  

  
    <div class="container"> 
       <footer>
        <p>Author: Louise,Sam, Gowri, Rani <br>
        <a href="mailto:example@example.com">example@example.com</a></p>
      </footer>
      
        </div>

</body>
</html>

{% block body %}
{% endblock %}
