{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', path='style.css')}}" type="text/css" media="all"/> 


<div class="container"> 

    

<div class="content-large"> <br>
    
    <h1> What we do </h1>

<p> Businesses can utilise this tool to supply their datasets as CSV files to apply <br>
    Machine 
    Learning techniques without any prior knowledge about building a solution. </p>
    <br>

    <button class= "button" type="button"> Learn More </button>


    <h1> <span style="color: #FFEE93"> YOUR DATA </span></h1>
<h1> <span style="color: #A0CED9 "> YOUR CHOICE </span></h1>
<h1> <span style="color: #ADF7B6"> OUR SOLUTION </span></h1>

</div>

<div class="content-small"> 
<!--     <img src= "../assets/images/machine_learning.jpg" alt= "Machine Learning"> -->
     </div>

      
</div>



{% endblock %}
