{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', path='style.css')}}" type="text/css" media="all"/> 


<div class="container"> 

    <!-- <div class="content-large"> <br>
        
      
    </div> -->

    <div class="content-middle"> <br>
      
      
<span style="font-size: xx-large;">
        <h1> <span style="color: #FFEE93" > YOUR DATA </span></h1>
        <h1> <span style="color: #A0CED9 "> YOUR CHOICE </span></h1>
        <h1> <span style="color: #ADF7B6"> OUR SOLUTION </span></h1>
    </span>

    <h1>  What we do </h1>

        <p>Businesses can utilise this tool to supply their datasets as CSV files to apply Machine Learning techniques without any prior knowledge about building a solution.  </p>
            <br>

        <a class= "button" href="/tutorial"> Learn More </a>
    </div>

    <div class="content-small"> 
        <!-- https://unsplash.com/photos/gnyA8vd3Otc image from -->
        <img src= "{{url_for('static', path='images/machine_learning.jpg')}}" alt= "Machine Learning" width="800px" height="500px">
     </div>
      
</div>
{% endblock %}
