{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', path='style_prediction.css')}}" type="text/css" media="all"/> 
<div class="container">
    <h1>Prediction Page</h1>
    <div class="content-large"> </div>

    <div class="content-middle">

        <form action="/predict" method="POST" enctype="multipart/form-data"
            class="form-horizontal">

            <div class="form-group">
                <label for="csv_filename">Path to your CSV file relative to app.py file:</label>
                <div>
                    <input type="text" name="csv_filename" id="csv_file" required="True">
                </div>
                <label for="pkl_filename">Path to your PKL file relative to app.py file:</label>
                <div>
                    <input type="text" name="pkl_filename" id="pkl_file" required="True">
                </div>
                <br>
                <br>
            </div>
            <button class="button-2"> <span style="margin-right:5px;"></span>Predict </button>

            <p><span style= "color:red"> NOTE: Please ensure that the columns match accurately </span></p>
        </form>

    </div>

    <div class="content-small">

    </div>
</div>
{% endblock %}