{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', path='style_pending.css')}}" type="text/css" media="all"/> 

<div class="container"> 

    <div class="content-large" ></div>
    <div class="content-middle">
        <h1><span style="color: #FFEE93" >Please wait... Your  {{ to_display[1] }} is training!</span></h1>
        <p>
            <!-- https://www.behance.net/gallery/31234507/Open-source-Loading-GIF-Icons-Vol-1 loading -->
            <img src= "{{url_for('static', path='images/loading.gif')}}" alt= "Loading" width="400px" height="250px">
        </p>
        <p>Learning how to predict: {{ to_display[0] }}</p>
        <p>Your input file: {{ to_display[2] }}</p>
        <p>Proportion of test data: {{ to_display[3] }}</p>
    </div>
    <div class="content-small"></div>
</div>
{% endblock %}

{% block script %}
<script>
    // every 1000 interval, recheck via status_check page that model_complete is true or false
    setInterval(function(){ 
    //run this code on an interval
    $.get("/status_check", function(model_complete){
        console.log(model_complete);
        // if true, redirect to displaying result page 
        if (model_complete){
            window.location.replace('/training-complete');
        }
    })
    }, 5000);
</script>
{% endblock %}