{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', path='style_pending.css')}}" type="text/css" media="all"/> 

<div class="container"> 

    <h1>Please wait... Your model is training!</h1>
    <p>
        <!-- https://www.demilked.com/gif-animations-replace-loading-screen/  red loading -->
        <img src= "{{url_for('static', path='images/loading_red.gif')}}" alt= "Loading" width="400px" height="250px">
    </p>

</div>
{% endblock %}

{% block script %}
<script>
    setInterval(function(){ 
    //run this code on an interval
    $.get("/status_check", {model_complete});
    console.log(model_complete);
    if (model_complete == False){
        window.location.href = '/training_complete';
    }
    }, 10000);
</script>
{% endblock %}