{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', path='style_training.css')}}" type="text/css" media="all"/> 
<div class="container">

    <div class="content-large"> </div>

    <div class="content-middle">

        <form action="/train" method="POST" enctype="multipart/form-data"
            class="form-horizontal">

            <div class="form-group">
                <label for="name"> Upload CSV File: </label>
                <div>
                    <input type="file" name="csv_file" id="csv_file" required="True">
                </div>
            </div>
            <div>
                <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                    <button class="button"> <span style="margin-right:5px;"></span>Upload </button>
                </div>
            </div>


            <p>Select Model:</p>
              <input type="radio" id="linearmodel" name="linearmodel" value="Linear Model">
              <label for="linermodel">Linear Model</label><br>
              <input type="radio" id="regression" name="logregression" value="logregression">
              <label for="logregression"> Logistic Regression</label><br>

            <br>
            <br>

            Select Target Column: <select name="subject" id="subject">

                <option value="" selected="selected">1</option>
                <option value="" selected="selected">2</option>
                <option value="" selected="selected">3</option>
                <option value="" selected="selected">Select target column</option>


            </select>
            <br>
            <br>

            Select train test split: <select name="train_test" id="train_test">

                <option value="" selected="selected">80:20</option>
                <option value="" selected="selected">70:30</option>
                <option value="" selected="selected">60:40</option>
                <option value="" selected="selected">Select train test split</option>
            </select>

            <br>
            <br>

            Select scoring metrics: <select name="metric" id="metric">
                <option value="" selected="selected">r-squared</option>
                <option value="" selected="selected">Root mean squared (RMSE)</option>
                <option value="" selected="selected">Mean Absolute Error (MAE)</option>
                <option value="" selected="selected">Select scoring metrics</option>
            </select>



            <br>
            <br>
            <button class="button-2"> <span style="margin-right:5px;"></span>Run </button>


        </form>
    </div>


    <div class="content-small">

    </div>

</div>
{% endblock %}