{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', path='style_pending.css')}}" type="text/css" media="all"/> 
<div class="container"> 

    <h1>Please wait... Your model is training!</h1>
    <p>
        <!-- https://www.behance.net/gallery/31234507/Open-source-Loading-GIF-Icons-Vol-1 image from -->
        <img src= "{{url_for('static', path='images/loading.gif')}}" alt= "Loading" width="400px" height="250px">
    </p>

</div>
{% endblock %}

{% block script %}
<script>
    
</script>
{% endblock %}