{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', path='style_tutorial.css')}}" type="text/css" media="all"/> 

<div class="container"> 

    

<div class="content-large"> <br>
    
    <h2> Explain Data Science  </h2>

<p> Why will this be useful to your business </p>
<p> How will it help your business </p>
<p> What you need to understand </p>

<br>

<h2> What is Machine Learning  </h2>

<p> How does machine learn (train the model) 
    <br> and what it's aim is (prediciting values from new data)
</p>
</div>

<div class="content-middle"> 
    content 1
       </div>


<div class="content-small"> 
    <h2> How does training a model work?  </h2>

    <p>Explain how it takes in the data from provided training dataset and this is used to train the model for their own data.
    </p>
     </div>




</div>

{% endblock %}
